# Backend
DATABASE_URL=<database_url>
DEBUG=<debug>
CORS_ORIGINS_STR=<cors_origins_str>

# Secrets
OPENAI_API_KEY=<openai_api_key>
TELEGRAM_BOT_TOKEN=<telegram_bot_token>

# Frontend
VITE_API_URL=<vite_api_url>